@model UserCreateModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="mt-4">

    <div class="mb-3">
        <h2>Qediyyat formu</h2>
    </div>
    <form asp-action="SignUp" asp-controller="Account">

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="FirstName" placeholder="Adınız" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="SurName" placeholder="Soyadınız" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="UserName" placeholder="İstifadəçi adınız" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon nömrəniz" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="Email" placeholder="Mail ünvanınız" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="Password" placeholder="Şifrəniz" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" asp-for="ConfirmPassword" placeholder="Təkrar şifrəniz" />
        </div>

        <div class="mb-3">
            <select class="form-select" asp-items="@Model.Gender" name="@(nameof(Model.GenderId))">
                <option value="0">Zəhmət olmasa cinsiyətinizi seçin</option>
            </select>
        </div>
        <button class="form-control btn btn-outline-secondary" type="submit"> Qeydiyaytdan keç</button>
        <div style="color:darkred" class="text-bg-danger" asp-validation-summary="All">

        </div>


    </form>
</div>

