@model List<ProvidedServiceListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h1>Xidmətlərimiz</h1>
<Div class="row">


@foreach (var item in Model)
{
    <div class="col-sm">
    <div style="width:15.5cm;height:5cm;" class="card bg-dark text-white">
        <img src="@item.ImagePath" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>
            <p class="card-text">@item.CreatedDate</p>
        </div>
    </div>
    </div>
}
</Div>
